<!DOCTYPE html>
<html>
  <head>
		<!-- ...設定... -->
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="60;"
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/797055517699997697/806980782928953375/35494_VhZbJGjS.png"/>
    <link rel="bookmark" href="https://media.discordapp.net/attachments/797055517699997697/806980782928953375/35494_VhZbJGjS.png"/>
		<!-- ...標題... -->
    <title>名單-801五國爭霸</title>
		<!-- ...css... -->
    <link href="https://huskypenguin.kenny0330tw.repl.co/homepage.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script>
    window.onload = function () {
    var odiv = document.getElementById("countdown");
    var count = 60;
        odiv.innerHTML=count;
    var timer = null;
    timer = setInterval(function () {
        if (count > 0) {
        count = count - 1;
        odiv.innerHTML = count;
        }
    }, 1000);
    }
    </script>
    <header><h1 style="text-align: center">801五國爭霸</h1></header>
    <hr>
    <h2><p style="text-align: center">{{ name }}名單<hr style="width:30%"></p></h2>
<p>&nbsp</p> 
  <div style="width:300px;margin:0px auto">
  <style>
    p{text-align:center}
  </style>
  <p>&nbsp</p>
  <p>{{ d1 }}</p>
  <p>{{ d3 }}</p>
  <p>{{ d4 }}</p>
  <p>{{ d5 }}</p>
  <p>{{ d6 }}</p>
  <p>{{ d7 }}</p>
  <p>{{ d9 }}</p>
  <p>{{ d10 }}</p>
  <p>{{ d11 }}</p>
  <p>{{ d12 }}</p>
  <p>{{ d13 }}</p>
  <p>{{ d14 }}</p>
  <p>{{ d21 }}</p>
  <p>{{ d22 }}</p>
  <p>{{ d23 }}</p>
  <p>{{ d24 }}</p>
  <p>{{ d25 }}</p>
  <p>{{ d26 }}</p>
  <p>{{ d27 }}</p>
  <p>{{ d28 }}</p>
  <p>{{ d29 }}</p>
  <p>{{ d30 }}</p>
  <p>{{ d31 }}</p>
  <p>{{ d32 }}</p>
  <p>{{ d33 }}</p>
  </div>
  <p>&nbsp</p>
  <footer>
  <p style="text-align: center;color:white"><a href="/" style="color:white">首頁</a></p>
  <p style="text-align: right;padding-right:5px">網頁<span id="countdown"></span>秒後重新載入</p>
  </footer>
  </body>
</html>
  </body>
</html>